.avatar {
  float: left;
  border: 3px white solid;
  box-shadow: 0 2px 4px #ccc;
  margin-bottom: 10px;
}

.about {
  article {
    @include clearfix;
    margin: 20px 20px 20px 180px;
    font-size: 18px;

    p {
      max-width: 600px;
      text-align: justify;
      margin: 10px;
      padding-left: 260px;
      line-height: 24px;
    }
  }
}