.extro-info {
  float: left;
  margin-top: 5px;

  .date,
  .tag,
  .comment {
    padding-left: 25px;
    margin: 5px 0;
  }

  a {
    @include opacity(.5);
  }

  .active {
    @include opacity(1);
  }

  a:hover {
    @include opacity(1);
  }

  .date {
    @include sprites-sprite(calendar);
    margin-bottom: 20px;
    line-height: 18px;
    @include opacity(.5);
  }

  .tag {
    @include sprites-sprite(tag);
  }

  .comment {
    @include sprites-sprite(bubble);
    margin-top: 20px;
  }
}