.nav-container {
  @include clearfix;
  position: relative;
}

.nav li {
  display: inline;
  margin-left: 50px;
}

.nav a {
  @include transition(color, .25s);
  line-height: 50px;
  font-size: 24px;
  color: #999;
}

.page-footer .nav a.active,
.nav a.active {
  color: #111;
}

.page-footer .nav a:hover,
.nav a:hover {
  color: #111;
}

.page-footer .nav a {
  color: #E7B418;
}
