.social-links {
  @include clearfix;
}

.social-links li {
  float: left;
  margin: 0 10px;
}

.social-links li a {
  @include hide-text;
  display: block;
  height: 32px;
  width: 32px;
  margin-top: -32px;
  position: absolute;
  z-index: 1;
}

.social-links li:before {
  font-family: 'icons';
  font-size: 24px;
  display: block;
  width: 32px;
  line-height: 32px;
  text-align: center;
  @include opacity(.5);
}

.social-links li:hover:before {
  @include opacity(1);
}

.google-plus:before {
  content: "\2b";
}

.weibo:before {
  content: "\4a";
}

.rss:before {
  content: "\52";
}

.facebook:before {
  content: "\66";
}

.github:before {
  content: "\f113";
}