@import "compass";
@import "compass/reset";
@import "animation";

@import "icons";

@import "images/sprites/*.png";

@import "global";
@import "nav";
@import "extro-info";
@import "pagination";
@import "comment";
@import "tools/main";
@import "about";
@import "article/main";

.main-container {
  padding: 50px 100px;
}

.logo {
  @include hide-text;
  display: block;
  @include sprites-sprite(logo);
  height: 50px;
  width: 50px;
  float: left;
}

.page-footer {
  @include background(image-url("images/yellow-shadow.jpg") #FFDF1F repeat-x);
  padding: 50px 100px;
}