@import "compass";
@import "compass/reset";

@import "font-icons/main";

@import "images/sprites/*.png";

@import "global";
@import "markdown";
@import "nav";
@import "article";
@import "extro-info";
@import "pagination";
@import "icons-showcase";
@import "prettify";
@import "comment";
@import "social";

.main-container {
  padding: 50px 100px;
}

.nav-container {
  @include clearfix;
}

.logo {
  @include hide-text;
  display: block;
  @include sprites-sprite(logo);
  height: 20px;
  width: 70px;
  float: left;
}

.page-footer {
  @include background(image-url("images/yellow-shadow.jpg") #FFDF1F repeat-x);
  padding: 50px 170px;
}