
.icon-gplus:before { content: '\2b'; } /* '+' */
.icon-weibo:before { content: '\4a'; } /* 'J' */
.icon-rss:before { content: '\52'; } /* 'R' */
.icon-twitter:before { content: '\54'; } /* 'T' */
.icon-facebook:before { content: '\66'; } /* 'f' */
.icon-gmail:before { content: '\6d'; } /* 'm' */
.icon-github:before { content: '\f113'; } /* '' */