.open-source-description {
  font-size: 14px;
  text-align: justify;
  line-height: 18px;
  width: 348px;
}

.open-source {
  li {
    float: left;
    height: 160px;
  }

  li:nth-child(1) .open-source-description,
  li:nth-child(3) .open-source-description {
    padding-right: 30px;
    margin-right: 30px;
    border-right: 1px dashed #dedede;
  }
}