<a href="/" class="logo">刘旸 Zation</a>
<ul class="nav">
  <li><a class="blog-link" href="/">Blog</a></li>
  <li><a class="about-link" href="/about.html">About</a></li>
  <li><a class="resume-link" href="/resume.html">Resume</a></li>
</ul>