<div class="search-container">
  <div class="search-cancel-icon">✖</div>
  <button class="search-cancel">Cancel</button>
  <input placeholder="Search for article title or tags" class="search" type="text">
  <div class="search-qualifier"></div>
  <ul class="search-result">
  </ul>
</div>
<ul class="social-links">
  <li class="google-plus">
    <a target="_blank" href="https://plus.google.com/100624981016590778324?rel=author">
      Google
    </a>
  </li>
  <li class="weibo">
    <a target="_blank" href="http://weibo.com/zation1">
      Weibo
    </a>
  </li>
  <li class="rss">
    <a target="_blank" href="/feed.xml">
      RSS
    </a>
  </li>
  <li class="facebook">
    <a target="_blank" href="http://www.facebook.com/yang.liu.37669">
      Facebook
    </a>
  </li>
  <li class="github">
    <a target="_blank" href="https://github.com/zation">
      Github
    </a>
  </li>
</ul>