---
type: about
---
<article>
  <img src="images/avatar.jpg" class="avatar">
  <p>
    一个专注于前端开发的攻城师
  </p>
  <p>
    一个热爱前沿技术的技术宅
  </p>
  <p>
    一个热爱生活的吐槽人
  </p>
  <p>
    经历过各种技术和职位，最终发现前端开发才是我的归宿，现为Kber前端程序员，专注于实践优秀的前端代码架构。同时也关注用户体验以及新兴设计元素。热衷于分享、社区活动、结交朋友。
  </p>
  <p>
    欢迎大家与我讨论交流关于前端开发的一切!
  </p>
</article>

<div id="comment">
  <div class="ds-thread" data-thread-key="about"></div>
</div>
