---
type: resume
---
<article>
  <header class="generate-info">
    <span class="title">
      Liu Yang
    </span>
    <span class="subtitle">
      Font-end Developer
    </span>
  </header>
  <section class="detail-info person">
    <header class="detail-info-title">
      Personal Information & Contacts
    </header>
    <ul class="detail-info-content person-info-list">
      <li>
        <span class="person-info-title">
          e-mail:
        </span>
        <a href="mailto:zation1@gmail.com">zation1@gmail.com</a>
      </li>
      <li>
        <span class="person-info-title">
          blog:
        </span>
        <a href="http://zation.me">zation.me</a>
      </li>
      <li>
        <span class="person-info-title">
          weibo:
        </span>
        <a href="http://weibo.com/zation1">@zation1</a>
      </li>
      <li>
        <span class="person-info-title">
          github:
        </span>
        <a href="http://github.com/zation">github.com/zation</a>
      </li>
    </ul>
  </section>
  <section class="detail-info skills">
    <header class="detail-info-title">
      Skills
    </header>
    <div class="detail-info-content">
      <div class="javascript skill-bar">
        <span class="skill-title">JavaScript</span>
        <ul class="skill-items">
          <li>
            Angular.js
          </li>
          <li>
            Backbone.js
          </li>
          <li>
            jQuery
          </li>
          <li>
            Node.js
          </li>
        </ul>
      </div>
      <div class="css skill-bar">
        <span class="skill-title">CSS</span>
        <ul class="skill-items">
          <li>
            Bootstrap
          </li>
          <li>
            CSS3
          </li>
          <li>
            SASS
          </li>
        </ul>
      </div>
      <div class="process skill-bar">
        <span class="skill-title">Process</span>
        <ul class="skill-items">
          <li>
            Lean Startup
          </li>
          <li>
            Agile
          </li>
          <li>
            Facilitation
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="detail-info work">
    <header class="detail-info-title">
      Work Experience
    </header>
    <div class="detail-info-content">
      <ol>
        <li>
          <div class="reduce">
            2011.10.31 - 2014.05.09
          </div>
          <h3 class="primary-enhance">
            ThoughtWorks
          </h3>
          <div class="enhance">
            Front-end Developer
          </div>
          <div class="work-description">
            Use advanced JS MVC framework to work on rich interaction web project.
            Use TDD as a standard development process and continuously refactor during project.
            Implement Agile and impact our customers with technology and innovation.
          </div>
        </li>
        <li>
          <div class="reduce">
            2010.09.10 - 2011.10.20
          </div>
          <h3 class="primary-enhance">
            Tieto
          </h3>
          <div class="enhance">
            Web Developer
          </div>
          <div class="work-description">
            Work for Nokia Ovi Map team. Implement web application to improve the
            testing work. For example: generate testing data and create report automatically,
            write automatic test script using Python.
          </div>
        </li>
      </ol>
    </div>
  </section>

  <section class="detail-info work">
    <header class="detail-info-title">
      Projects
    </header>
    <div class="detail-info-content">
      <ol>
        <li>
          <h3 class="primary-enhance">
            <a href="http://www.sf-express.com/cn/sc/">
              SF Portal
            </a>
          </h3>
          <div class="enhance">
            PM &amp; Frontend Tech Lead
          </div>
          <div class="work-description">
            I'm tech lead and PM in this project to help SF express building a corp portal. We use backbone and restful API to implement user interfaces of bill, range, time, store searching. And use OpenCMS to support the content maintenance.
          </div>
        </li>
        <li>
          <h3 class="primary-enhance">
            <a href="http://www.realestate.com.au/home-ideas/">
              Home Ideas
            </a>
          </h3>
          <div class="enhance">
            Web Developer
          </div>
          <div class="work-description">
            REA is the largest online real estate company in Australia. We help them to build a website to show how their customers decorate their house. I help them to refactor the front end code with SASS and Backbone.js to make this project maintainable and stable. And improve the iPad display and interface.
          </div>
        </li>
      </ol>
    </div>
  </section>
  
  <section class="detail-info open-source">
    <header class="detail-info-title">Open Source Project</header>
    <div class="detail-info-content">
      <ul>
        <li>
          <h3 class="primary-enhance">
            <a href="https://github.com/twers/re-education">New Class</a>
          </h3>
          <div class="enhance">Angular.js, Rails</div>
          <div class="open-source-description">
            A commonweal project. The teachers can share their innovation class
            and the assignments of students. So anyone can learn how to bring the
            innovation ideas to their class; anyone can feel the achievements of
            the students.
          </div>
        </li>
        <li>
          <h3 class="primary-enhance">
            <a href="https://github.com/zation/flyingtortoise">10K Hours</a>
          </h3>
          <div class="enhance">Backbone.js, Bower, Grunt</div>
          <div class="open-source-description">
            A mobile web application to help you become a professional in some area.
            It can record the time when practising and show you the data virtualization
            of your efforts.
          </div>
        </li>
        <li>
          <h3 class="primary-enhance">
            <a href="https://github.com/zation/session">Presentation</a>
          </h3>
          <div class="enhance">impress.js</div>
          <div class="open-source-description">
            Several web PPTs with great 3D animation.
            The presentations are for the CSS session I made in office,
            to help our colleague from the basic CSS knowledge to advance usage.
          </div>
        </li>
        <li>
          <h3 class="primary-enhance">
            <a href="https://github.com/zation/TechRadar">TechRadar</a>
          </h3>
          <div class="enhance">Ruby, Redis, SASS, Compass</div>
          <div class="open-source-description">
            A web app to help you build technical radar for your team or yourself.
            I have deployed it to Heroku: techradar.heroku.com
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="detail-info education">
    <header class="detail-info-title">Education</header>
    <div class="detail-info-content">
      <div class="reduce">
        2004 - 2008
      </div>
      <h3 class="primary-enhance">
        University of Electronic Science and Technology of China
      </h3>
      <div class="enhance">
        Information Security
      </div>
    </div>
  </section>
</article>